.Rproj.user
.Rhistory
.RData
inst/doc
tests/testthat/*.trees
tests/testthat/tmp_*
tests/testthat/*.fasta
tests/testthat/*.xml
tmp_*
Anthus_aco.log
Anthus_aco.trees
Anthus_nd2.trees
Anthus_nd2.xml.state
test_output_0.log
test_output_0.trees
out.log
out.trees
out.xml.state
out.state
