.Rproj.user
.Rhistory
.RData
inst/doc
tests/testthat/*.trees
tests/testthat/tmp_*
tests/testthat/*.fasta
tests/testthat/*.xml
tmp_*
Anthus_aco.log
Anthus_aco.trees
Anthus_nd2.trees
Anthus_nd2.xml.state
test_output_0.log
test_output_0.trees
out.log
out.trees
out.xml.state
out.state
na_15.log
na_15.state
na_15_a.trees
na_15_b.trees
beast/
anthus_aco.log
anthus_aco.trees
anthus_nd2.trees
tests/spelling.Rout.save
scripts/build/
temp.fasta
install_beast2.R
^test_output_0\.log$
^test_output_0\.trees$

